.sider {
  min-height: 100vh;
}

.header,
.sider {
  color: #eeeeee !important;
  background: #222831 !important;
}
.header {
  border-left: 1px solid #eeeeee;
  height: 75px !important;
}

.sider > .ant-layout-sider-trigger {
  background-color: inherit !important;
  border-top: 1px solid #eeeeee;
}

.max-height {
  min-height: calc(100vh - 75px );
  max-height: calc(100vh - 75px );
  padding-bottom: 3rem;
  overflow-y: auto;
  background-color: #e5e5e5;
}

.max-height::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.max-height::-webkit-scrollbar-thumb {
  background: #222831;
}
.route {
  color: white;
  margin: 10px 0px;
  padding: 10px;
}

.donaty-logos {
  margin: 15px 0px 30px 0px;
  align-items: center;
}

.donaty-logo-header{
  height: 50px;
  margin: 2.5px 2.5px 2.5px 2.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-header{
  padding: 0 1rem;
}

.donaty-logo-header > img{
  height: 80%;
}

.route-logo-small {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  width: 50px;
  border-radius: 50% !important;
}

.route-logo-small-center{
  margin: auto !important;
}

.route-logo-small > .route-logo {
  margin-right: 0;
}

.route-logo {
  font-size: 1.3rem;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.route {
  color: white;
  margin: 10px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.route:hover {
  color: #00afb7;
  margin: 10px 0px;
  background-color: #393e46;
  border-radius: 20px;
}

.route-active {
  color: #00afb7;
  margin: 10px 0px;
  background-color: #393e46;
  border-radius: 20px;
}

.route-border {
  border-top: 1px solid #393e46;
  border-bottom: 1px solid #393e46;
  margin-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.route-border:hover {
  border-top: 1px solid #393e46;
  border-bottom: 1px solid #393e46;
  margin-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.rights-reserved {
  font-size: 9px;
  color: #eeeeee;
}


.modal-foundation-container > .ant-modal-content, .modal-price-container > .ant-modal-content {
  background-color: #222831;
  border-radius: 10px;
}
.modal-foundation-container {
  width: 70vw !important;
}

.modal-foundation-container .ant-modal-body {
  padding: 0 !important;
}

.modal-foundation-image {
  background: url("../../assets/layout/man_laptop.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 10px 10px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-foundation-close {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #eeeeee;
  font-size: 1.5rem;
  cursor: pointer;
}

.form-group{
  display: flex;
  width: 100%;
}

.ant-select-dropdown {
  
  background-color: #343c45 !important;
}

.ant-select-dropdown .ant-select-item{
  color: #eeeeee !important;
  padding-right: 3rem;
}

.ant-select-dropdown  .ant-select-item-option-active, .ant-select-dropdown .ant-select-item-option-selected{
  
  background-color: #222831 !important;
}

.form-group > .prefix {
  background-color: #393e46;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d9d9d9;
  font-size: 1.35rem;
  padding-left: 11px;
}

.form-group .ant-select-selection-placeholder{
  z-index: 1;
  font-weight: 100;
  font-size: 1rem;
}
.form-group .ant-select-selection-item {
  
  z-index: 1;
  font-weight: 200;
  font-size: 1rem;
}

.form-group .ant-select-selector{
  background-color: #393e46 !important;
  border: none !important;
  box-shadow: unset !important;
  padding-left: 5px !important;
}


.form-group > .ant-select{
  padding: 5px 10px;
  background-color: #393e46 !important;
  border-radius: 0 10px 10px 0;

}

.modal-price-form {
  width: 100% !important;
  padding: 3rem 2rem !important;
}

.modal-price-form {
  width: 70%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5rem 0;
}

.modal-foundation-form {
  width: 70%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5rem 0;
}

.modal-foundation-form > img {
  width: 12.5vh;
}

.modal-foundation-form > h3 {
  font-size: 1.35rem;
  color: #eeeeee;
  font-weight: 600;
}

.modal-foundation-form span,
.modal-foundation-form input,
.modal-foundation-form textarea {
  background-color: #393e46;
  border: none;
  color: #d9d9d9;
  border-radius: 10px;
  resize: none;
}

.modal-foundation-form .ant-input-prefix {
  font-size: 1.35rem;
}

.modal-foundation-form input {
  margin: 5px 10px;
}

.modal-foundation-form input,
.modal-foundation-form textarea {
  font-size: 1rem;
  font-weight: 200;
  padding: 10px;
}

.modal-foundation-form .ant-input-affix-wrapper,
.modal-foundation-form .ant-input:focus {
  border: none;
  border-color: transparent !important;
  border-right-width: 0 !important;
  box-shadow: unset !important;
}

.modal-foundation-form > button {
  background-color: #00afb7;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.modal-foundation-form-image {
  width: 50%;
}
.modal-foundation-form-image > img {
  width: 100%;
}

.modal-foundation-form-image-remove {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #393e46 !important;
  background-color: unset !important;
  cursor: pointer;
}


.nft-own-list{
  width: calc(25% - 38px);
}


@media only screen and (max-width: 800px) {
  .max-height {
    min-height: calc(100vh);
    max-height: calc(100vh);
  }
  .modal-foundation-content {
    flex-wrap: wrap;
  }
  .modal-foundation-content > div{
    width: 100%;
  }
  .modal-foundation-container{
    width: 80vw !important;
  }
  .modal-foundation-form{
    width: 85%;
  }
  .modal-foundation-form > h3{
    font-size: 1rem
  }
  
}