.home-container{
    width: calc(100% - 60px);
    position: relative;
    padding: 30px;
}

.logo-container{
    padding-left: 5vw;
}

.home-card{
    margin-top: 2rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,173,181,1) 0%,  rgba(244,244,244,1) 100%);
    border-radius: 48px 48px 300px 48px;
}

.home-card-image{
    position: relative;
    bottom: 0;
    min-height: 75vh;
}
.home-card-image > img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.home-card-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 5vw;
    color: white;
}

.home-card-content > h1{
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.home-card-content > p, .home-overview-content  > p {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
}

.home-metamask-logo{
    margin-right: 15px;
}

.home-metamask-button{
    padding-right: 5vw;
}

.home-overview, .our-team-container{
    margin-top: 10rem;
    justify-content: center;
}
.our-team-container{
    width: 80%;
    margin-left: 10%;
}

.home-overview-content{
    flex-direction: column;
}


.team-card-container{
    background-color: #393E46;
    border-radius: 20px;
    padding: 3rem 30px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    height: fit-content;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.5s;
}

.team-card-container > h3{
    color: white;
}

.team-card-container:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.team-card-container > img {
    border-radius: 50%;
    box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.team-card-list{
    gap: 3%;
}

.home-footer{
    margin-top: 2rem;
    background-color: #222831;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: #EEEEEE;
}

.home-files-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 800px) {
    .home-container{ 
        width: 100% !important;
    }
    .team-card-list{
        flex-wrap: wrap;
    }
    .home-card-content {
        padding: 5vw !important;
    }
    .home-card-content > p, .home-overview-content  > p {
        margin-top: 2rem !important;
        font-size: 1rem !important;
        font-weight: 300;
        text-align: center !important;
    }
    .home-card-content > h1{
        text-align: center;
        font-size: 1.25rem !important;
        font-weight: 600;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
    }
    .home-card{
        flex-wrap: wrap;
        margin-top: 0 !important;
    }
    .home-card > div{
        width: 100%;
    }
    .home-card-image{
         min-height: 30vh;
    }

    .container-header{
        flex-wrap: wrap;
    }

    .logo-container{
        padding: 1rem 15vw !important;
    }

    .home-metamask-button{
        padding: 0 !important;
    }
    .home-metamask-button > .dark-button{
        
        width: 100%;
    }
    .container-header > div{
        width: 100%;
    }

    .home-overview{
        flex-wrap: wrap;
        margin-top: 5rem !important;
    }
    .home-overview > div{
        width: 100%;
    }
    .our-team-container{
        margin-top: 5rem !important;
    }

    .team-card-container{
        
        margin: 1rem 0 !important;
    }
  }