.card-details-nft-container-image{
    padding : 10px;
}

.card-details-nft{
    width : 100%;
    background-color : white;
    border-radius : 5px;
    padding : 20px;
}

.container-nft-profile-details{
    background-color : #222831;
    color : white;
    border-radius : 5px;
    margin-bottom : 10px;
}

.container-nft-profile-principal-info{
    padding : 15px;
    align-items: center;
}

.container-nft-profile-title{
    font-size : 16px;
    font-weight : 500;
}

.owned-container-info{
    font-weight : 300;
}

.owned-nft{
    color : #00ADB5;
    font-weight : 500;
}

.image-logo-nft{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.container-nft-description{
    background-color : #222831;
    color : white;
    border-radius : 5px;
    margin-bottom : 10px;
    padding : 20px;
}

.card-description-nft {
    padding : 10px;
}

.container-nft-description-title {
    padding-bottom : 10px;
    border-bottom : 1px solid #393E46;
}

.container-nft-description-title-icon{
    font-size : 22px;
    margin-right : 5px;
}

.nft-description-title{
    font-size : 16px;
    font-weight : 500;
}

.container-nft-description-into {
    margin-top : 10px;
    text-align: justify;
    font-size: 12px;
    font-weight : 300;
}

.card-price-nft {
    padding : 10px;
}

.container-nft-price{
    background-color : #222831;
    color : white;
    border-radius : 5px;
    margin-bottom : 10px;
    padding : 20px;
}

.container-nft-price-title{
    padding-bottom : 10px;
    border-bottom : 1px solid #393E46;
}

.container-nft-price-title-icon{
    font-size : 22px;
    margin-right : 5px;
}

.nft-price-title{
    font-size : 16px;
    font-weight : 500;
}

.container-nft-price-actual-price{
    margin-top : 10px;
}


.container-nft-price-button{
    margin-top : 20px;
}

.nft-price-button{
    border: 1px solid #00ADB5;
    border-radius : 10px;
    background-color : #222831;
    color: #FFFFFF; 
    width : 90%;
    font-size : 12px;
    padding: 5px 0px;
}

.nft-price-button-available{ 
    cursor: pointer;
    transition: all 0.5s;
}

.nft-price-button-available:hover{
    background-color: #00ADB5;
    color: #222831;
    transition: all 0.5s;
}

.container-nft-cause{
    background-color : #222831;
    color : white;
    border-radius : 5px;
    padding : 20px;
}

.container-nft-cause-title{
    padding-bottom : 10px;
    border-bottom : 1px solid #393E46;   
}

.container-nft-cause-title-icon{
    font-size : 22px;
    margin-right : 5px;
}

.nft-cause-title{
    font-size : 16px;
    font-weight : 500;   
}

.container-nft-cause-into{
    margin-top : 10px;
    text-align: justify;
    font-size: 12px;
    font-weight : 300;
}

.card-cause-nft {
    padding : 10px;
}

.container-nft-cause-foundation{
    margin-top : 10px;
}

.nft-cause-foundation-logo{
    margin-right : 10px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #eeeeee;
}

.nft-cause-foundation-name{
    font-size : 16px;
    font-weight : 200;  
}

.card-activity-nft{
    padding : 10px;
}

.container-nft-activity{
    background-color : #222831;
    color : white;
    border-radius : 5px;
    padding : 20px;
}

.container-nft-activity-title{
    padding-bottom : 10px;
    border-bottom : 1px solid #393E46;  
}

.container-nft-activity-title-icon{
    font-size : 22px;
    margin-right : 5px;
}

.nft-activity-title{
    font-size : 16px;
    font-weight : 500;    
}

.item-activity{
    border-bottom : 1px solid #393E46;
}

.item-activity >th ,td {
    padding : 8px;
    text-align : center;
}

.item-activity-logo-price{
    margin-right : 10px;
}

.get-back-nft-details {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 10px;
  }

  
@media only screen and (max-width: 800px) {
    .details-nft-container, .container-nft-profile-principal-info{
        flex-wrap: wrap;
    }
    .details-nft-container > div , .container-nft-profile-principal-info > div{
        width: 100%;
    }
}